{% extends "base.html" %}
{% block title %}JustVs{% endblock %}
{% block head %}
<!-- TODO:引入需要引入的头文件等 -->
{% endblock %}
{% block body %}
<!-- TODO:写入主体页面内容 -->
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <!-- <h1 class="text-white text-center">Discover. Learn. Enjoy</h1> -->
                <h1 class="text-white text-center">Compare Everything</h1>

                <!-- <h6 class="text-center">platform for creatives around the world</h6> -->
                <h6 class="text-center">comparison is all you need!</h6>
                <!-- 这里这个method可以去掉 -->
                <form method="get" action="/compkey/lists" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">

                        </span>
                            <input name="seedword" type="search" class="form-control" id="keyword"
                                placeholder="输入一个种子关键词..." aria-label="Search" onclick="queryAllImpNo()" onkeydown="if(event.keyCode===13) { return handleSearch(); }">
                        <button type="submit" class="form-control">Search</button>
                    </div>
                </form>
                <div style="background-color: #ffffff; margin: 0 34px">
                    <ul id="impNoListUl"></ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Introduction</h5>

                                <p class="mb-0">
                                    This is a search system focused on competitive keywords. You don't need to worry about the rest. It's just awesome anyway.
                                </p>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto"></span>
                        </div>

                        <img src="../static/images/topics/undraw_Remote_design_team_re_urdx.png"
                            class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="../static/images/businesswoman-using-tablet-analysis.jpg"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Resource</h5>

                                <p class="text-white">
                                    You can click on the relevant links below to access additional information about our project, including pre-project and post-project materials, as well as project introductions.
                                </p>

                                <a href="/vip" class="btn custom-btn mt-2 mt-lg-3">Get VIP</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto"></span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="https://gitee.com/jiayouquba/py-comp-key-sys" class="social-icon-link bi-git"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="https://www.csu.edu.cn/" class="social-icon-link bi-rainbow"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="https://gitee.com/jiayouquba/py-comp-key-dev" class="social-icon-link bi-github"></a>
                                </li>
                            </ul>

                            <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Get in touch</h2>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <iframe class="google-map"
                    src="https://map.baidu.com/search/%E4%B8%AD%E5%8D%97%E5%A4%A7%E5%AD%A6(%E9%93%81%E9%81%93%E6%A0%A1%E5%8C%BA)/@12578766.973443322,3246831.91234645,17.83z?querytype=s&da_src=shareurl&wd=%E4%B8%AD%E5%8D%97%E5%A4%A7%E5%AD%A6(%E9%93%81%E9%81%93%E6%A0%A1%E5%8C%BA)&c=1&src=0&wd2=%E9%95%BF%E6%B2%99%E5%B8%82%E5%A4%A9%E5%BF%83%E5%8C%BA&pn=0&sug=1&l=13&b=(12553276,3237152;12607644,3267616)&from=webmap&biz_forward=%7B%22scaler%22:2,%22styles%22:%22pl%22%7D&sug_forward=7763d4807dd6180ccc06a419&device_ratio=2"
                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">主办公室</h4>

                <p>中南大学铁道校区 铁十一舍 509</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 305-240-9671" class="site-footer-link">
                        13395557999
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        3191363230@qq.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mx-auto">
                <h4 class="mb-3">副办公室</h4>

                <p>中南大学铁道校区 铁十一舍 603</p>

                <hr>

                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>

                    <a href="tel: 110-220-3400" class="site-footer-link">
                        19507417983
                    </a>
                </p>

                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        383441376@qq.com
                    </a>
                </p>
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<!-- TODO:载入或写入js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/click-scroll.js"></script>
<script src="../static/js/custom.js"></script>

<script>
    $(document).ready(function () {
        $('#search-btn').on('click', (e) => {
            e.preventDefault();
            let keyword = $('#keyword').val()
            if (keyword == '') {
                alert('请输入一个合法的关键词')
            } else {
                console.log(keyword);
                // TODO:请求url，获得数据并实现渲染
                $.ajax({
                    url: "/compkey/lists",
                    type: "GET",
                    dataType:"JSON",
                    data: {
                        seedword: keyword
                    },
                    error: (e) => {
                        console.log(e)
                    }
                })
            }
        })
    })
    //等待用户不输入 0 秒后再去调用查询接口
var loseInputMillsecs = 0;
var clocker = null;

function handleSearch() {
        // 执行你的搜索逻辑
        // 返回 false 阻止默认的表单提交行为
        return true;
    }

// input搜索框的onkeyup事件函数

function queryAllImpNo() {
    let keyword = $('#keyword').val();

    // if (keyword != null && keyword != '') {
        if (null == clocker) {

            // 设置的loseInputMillsecs为0.7秒，
            // setTimeout()函数可以实现等待0.7后调用loadImpNoList方法

            clocker = setTimeout(loadImpNoList, loseInputMillsecs);
        } else { //连续击键，重新开始计时
            clearTimeout(clocker);
            clocker = setTimeout(loadImpNoList, loseInputMillsecs);
        }
    // } else {
    //
    //     // 此处有可能是查询过一个了，ul列表时有值的
    //     // 讲道理第二次查询时应该将ul查询数据清空或更新
    //
    //     $("#impNoListUl").find('li').remove();
    // }
}

// 调用查询接口，并将查询结果动态展示在配置好的ul内
function loadImpNoList() {
    // let keyword = $('#keyword').val();
    // if (keyword == null || keyword == '') {
    //     return;
    // }
    let shouldHide = true;

    $.ajax({
    url: "/compkey/getHotwords",
    type: 'GET',
    contentType: 'application/json;charset=utf-8', // 设置请求头信息
    success: function (res) {
        let data = res.seedwords;  // 在这里进行了更正
        console.log(data);

        // 每次查询数据时，将前一次查询的数据清除，否则会累加在 ul 中
        $("#impNoListUl").find('div').remove();

        // 对ul的背景颜色进行渲染
        $("#impNoListUl").style = 'color:#ffffff !important;'
        $("#impNoListUl").show();

        // 如果查询结果为空，最好给个提示，否则用户会以为没有这个功能或功能失效
        if (data == null || data == '' || data.length == 0) {
            let ele = document.createElement('li');
            ele.innerText = '(搜索无结果)';
            $('#impNoListUl').append(ele);
        } else {
            for (let i = 0; i < data.length; i++) {
                // 实现在 ul 中动态创建 li 列表，并将数据置入 li 列表中
                let ele = document.createElement('li');

                let ele2 = document.createElement('li');

                // 创建包含图片和文字的 div 元素
                let container = document.createElement('div');
                container.style.display = 'flex';
                container.style.paddingRight = '0';
                container.style.alignItems = 'center'; // 垂直居中对

                // 插入一张图片作为左侧的装饰
                let img = document.createElement('img');
                img.src = '../static/images/R.jpg'; // 替换为你的图片路径
                img.alt = 'fire'; // 替换为你的图片描述
                img.style.width = '20px'; // 根据需要设置图片宽度

                // 设置图片的样式
                img.style.marginRight = '8px'; // 根据需要设置图片和文字之间的间距

                // 将图片添加到容器中
                container.appendChild(img);

                // 设置 li 的样式和文本
                ele.style.color = '#717275';
                ele.style.listStyleType = 'none';
                ele.style.paddingBottom = '10px'
                ele.innerText = data[i].word;  // 注意这里访问 word 属性

                ele2.style.color = '#717275';
                ele2.style.marginLeft = '600px'
                ele2.style.listStyleType = 'none';
                ele2.innerText = data[i].num + "次";  // 注意这里访问 word 属性

                // 把 li 添加到 container 中
                container.appendChild(ele)
                container.appendChild(ele2)

                // 将容器添加到 ul 中
                $('#impNoListUl').append(container);
            }
            let ele = document.createElement('li');
            ele.style.listStyleType = 'none';
            ele.innerText = '     ';  // 注意这里访问 word 属性
            $('#impNoListUl').append(ele);
        }
    }
    });

    // // 点击提示框内的元素时设置 shouldHide 为 false
    // $("#impNoListUl").on("click", function (event) {
    //     shouldHide = false;
    // });
    //
    // // 在文本框失去焦点时隐藏提示框（除非点击了提示框内的元素）
    // $("#keyword").blur(function (event) {
    //     if (shouldHide) {
    //         $("#impNoListUl").hide();
    //     }
    // });
}

// 此函数绑定了ul列表的点击事件，点击时实现将选中的值放入input搜索框中，调用页面的查询接口

$(function () {
    $("#impNoListUl").bind("click", function () {

        //   ul里面那么多li   通过这行代码实现获取鼠标点击的li的值
        let innerText = document.elementFromPoint(event.clientX, event.clientY).innerText;

      // 如果是没有结果的，就不要获取值了，清除掉返回

      if (innerText == '(搜索无结果)') {
            $("#impNoListUl").find('li').remove();
            return;
        }

        // 将选中的值赋到input中
        $('#keyword').val(innerText);

        // 已经找到想要的了，ul里面的数据就没必要在占地方了
        $("#impNoListUl").find('div').remove();

        // 调用页面查询按钮接口，返回页面结果。
        // $('#search-btn').click();
    });
});

</script>
{% endblock %}