{% extends "base.html" %}
{% block title %}JustVs{% endblock %}
{% block head %}
<!-- TODO:引入需要引入的头文件等 -->
{% endblock %}
{% block body %}
<!-- TODO:写入主体页面内容 -->
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-5 col-12">
                <div class="topics-detail-block bg-white shadow-lg">
                    <!-- 这里用传入的img -->
                    <img src="{{thislink}}" class="topics-detail-block-image img-fluid">
                </div>
            </div>

            <div class="col-lg-5 col-12 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <!-- 评分页面 -->
                        <li class="breadcrumb-item"><a href="#">评分</a></li>

                        <li class="breadcrumb-item active" aria-current="page">
                        {% if thisword %}
                            {{ thisword }}
                        {% else %}
                            {{ seedword }}
                        {% endif %}
                        </li>
                    </ol>
                </nav>
                <!--  -->
                <h2 class="text-white">{{thisword}}</h2>
                <h6 class="text-white">{{introduction}}</h6>

                <h3 class="score-num mb-0" style="color: rgb(184 163 0);margin-top: 20px;margin-left: 50px">{{ grade }}</h3>

                <div class="d-flex align-items-center mt-5" style="margin-top: 1rem!important;">
                    <a href="#topics-detail" class="btn custom-btn custom-border-btn smoothscroll me-4">看看大家的评分</a>

                    <a href="#top" class="custom-icon bi-bookmark smoothscroll"></a>
                </div>
            </div>

        </div>
    </div>
</header>


<section class="topics-detail-section section-padding" id="topics-detail">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 m-auto" id="comment-container">
                <!-- <h3 class="mb-4">Introduction to Web Design</h3>

                <p>So how can you stand out, do something unique and interesting, build an online business, and get paid
                    enough to change life. Please visit TemplateMo website to download free website templates.</p>

                <p><strong>There are so many ways to make money online</strong>. Below are several platforms you can use
                    to find success. Keep in mind that there is no one path everyone can take. If that were the case,
                    everyone would have a million dollars.</p>

                <blockquote>
                    Freelancing your skills isn't going to make you a millionaire overnight.
                </blockquote>

                <div class="row my-4">
                    <div class="col-lg-6 col-md-6 col-12">
                        <img src="../static/images/businesswoman-using-tablet-analysis.jpg"
                            class="topics-detail-block-image img-fluid">
                    </div>

                    <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mt-md-0">
                        <img src="../static/images/colleagues-working-cozy-office-medium-shot.jpg"
                            class="topics-detail-block-image img-fluid">
                    </div>
                </div>

                <p>Most people start with freelancing skills they already have as a side hustle to build up income. This
                    extra cash can be used for a vacation, to boost up savings, investing, build business.</p> -->
            </div>

            <!-- <div class="col-lg-4">
                <p>111</p>
            </div> -->

        </div>
    </div>
</section>


<section class="section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center">

            <!-- <div class="col-lg-5 col-12">
                <img src="../static/images/rear-view-young-college-student.jpg" class="newsletter-image img-fluid"
                    alt="">
            </div> -->

            <div class="col-lg-5 col-12 subscribe-form-wrap d-flex justify-content-center align-items-center">
                <form class="custom-form subscribe-form" action="#" method="post" role="form">
                    <h4 class="mb-4 pb-2">创建评分</h4>

                    <div class="mb-1" id="star-container-add">
                        <i class="bi bi-star" id="star-1"></i>
                        <i class="bi bi-star" id="star-2"></i>
                        <i class="bi bi-star" id="star-3"></i>
                        <i class="bi bi-star" id="star-4"></i>
                        <i class="bi bi-star" id="star-5"></i>
                    </div>

                    <input type="email" name="subscribe-email" id="subscribe-comment" class="form-control"
                        placeholder="输入你的评论" required="" style="margin-top: 20px">

                    <div class="col-lg-12 col-12">
                        <button type="submit" class="form-control" style="margin-bottom: 30px">发布</button>
                    </div>
                    <div class="col-lg-12 col-12">
                        <a href="/compkey/lists?seedword={{ seedword }}" class="btn custom-btn custom-border-btn smoothscroll me-4" style="width: 100%">返回</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{% block script %}
<!-- TODO:载入或写入js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/custom.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "/comment/getComment",
            data: 'seedword={{ seedword }}&compword={{ thisword }}',
            dataType: 'json',
            success: function (res){
                console.log(res)
                show_comment(res)
            },
            error: function (){

            }
        })

        function show_comment(data){
            if (data.result.num===0){
                $("#comment-container").prepend(renderNoneComment())
            }
            for (let i=data.result.num; i > 0; i--){
                let getComment = 'comment' + i;
                let comment = data.result[getComment];
                let comment_id = comment.id
                let text = comment.text;
                let score = comment.score/2;
                let like = comment.like;
                let username = comment.username;
                let avatar = comment.avatar;
                let like_or_not = comment.like_or_not;
                $("#comment-container").prepend(renderComment(text, score, like, username, avatar, comment_id, like_or_not));
            }
        }

        // $('#like-btn').on('mouseenter', function () {
        //     $(this).removeClass('bi-heart').addClass('bi-heart-fill')
        // })

        // $("#like-btn").on('mouseleave', function () {
        //     // 切换类为 bi-heart
        //     $(this).removeClass("bi-heart-fill").addClass("bi-heart");
        // })

        // $('#star-container i').click(function () {
        //     $(this).removeClass('bi-star').addClass('bi-star-fill').addClass('star-clicked').prevAll().removeClass('bi-star').addClass('bi-star-fill').addClass('star-clicked')
        // })

        $('#star-container-add i').click(function () {
            $(this).removeClass('bi-star').addClass('bi-star-fill').addClass('star-clicked').prevAll().removeClass('bi-star').addClass('bi-star-fill').addClass('star-clicked')
        })

        $(".subscribe-form button").click(function (e) {
            if ("{{session['user_id']}}"){
                e.preventDefault()
                let starId = $("#star-container-add i.bi-star-fill").length * 2;
                let comment = $("#subscribe-comment").val();

                $.ajax({
                    type: "POST",
                    url: "/comment/addComment",
                    dataType:"json",
                    data: {
                        userid: "{{session['user_id']}}",
                        score: starId,
                        text: comment,
                        seedword: "{{seedword}}",
                        compword: "{{thisword}}"
                    },
                    success: function (data) {
                        location.reload()
                    },
                    error: function (e) {
                        console.error(e);
                    }
                })
            }
            else {
                alert("请先登录后再添加评论。")
            }
        })

        function renderComment(comment, starId, like, username, avatar, comment_id, like_or_not) {
            let like_i = like_or_not ? 'bi-heart-fill like-clicked' : 'bi-heart';
            let like_p = like_or_not ? 'like_num_clicked' : '';
            {#根据用户是否点赞动态渲染爱心和点赞数#}

            return '<div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">' +
                '<div class="row">' +
                '<div class="col-md-2 text-center" style="width: 12%">' +
                '<figure>' +
                '<img src="../static/images/img-16812086553637fc5cc8435c6ae830761f9fad31e9029.jpg" style="width: 38px;height: 38px;border-radius: 5px;margin-left: auto;margin-right: auto;">' +
                '</figure>' +
                '<h5 style="font-size: 1.25rem;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">' + username + '</h5>' +
                '</div>' +
                '<div class="col-md-10 comment-part">' +
                '<div class="mb-1" id="star-container">' +
                renderStarsHtml(starId) +
                '</div>' +
                '<h4>评论：</h4>' +
                '<p class="mb-0" id="real-comment" style="font-family: Montserrat, sans-serif; color: #000000;">' + comment + '</p>' +
                '<div style="display: flex;text-align: right; justify-content: flex-end">' +
                '<div style="display: flex" data-comment-id="' + comment_id + '" >' +
                '<i class="bi ' + like_i + '" id="like-btn" style="margin-top: 5px; margin-right: 5px"></i>' +
                '<p class="mb-0 comment ' + like_p + '" id="real-comment">(' + like + ')</p>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';
        }
{#'<div class="custom-block bg-white shadow-lg">' +#}
{#       '</div>';#}

        $(document).on('click', 'div[data-comment-id]', function (){
            let comment_id = $(this).data('comment-id')
            let heartIcon = $(this).find('i');
            let like_num = $(this).find('p');
            if ("{{session['user_id']}}"){
                if (!heartIcon.hasClass('bi-heart-fill')){
                    $.ajax({
                        type: "PUT",
                        url: "/comment/like",
                        dataType:"json",
                        data: {
                            comment_id: comment_id,
                            user_id: "{{session['user_id']}}"
                        },
                        success: function (data) {
                            let currentLikeCount = parseInt(like_num.text().match(/\d+/)[0]);
                            like_num.text('(' + (currentLikeCount + 1) + ')');
                            heartIcon.toggleClass('bi-heart').toggleClass('bi-heart-fill').addClass('like-clicked');
                            like_num.addClass('like_num_clicked');
                        },
                        error: function (e) {
                            console.error(e);
                        }
                    })
                }
                else {
                    $.ajax({
                        type: "PUT",
                        url: "/comment/cancel_like",
                        dataType:"json",
                        data: {
                            comment_id: comment_id,
                            user_id: "{{session['user_id']}}"
                        },
                        success: function (data) {
                            let currentLikeCount = parseInt(like_num.text().match(/\d+/)[0]);
                            like_num.text('(' + (currentLikeCount - 1) + ')');
                            heartIcon.toggleClass('bi-heart').toggleClass('bi-heart-fill').toggleClass('like-clicked');
                            like_num.toggleClass('like_num_clicked');
                        },
                        error: function (e) {
                            console.error(e);
                        }
                    })
                }
            }
            else {
                alert("请先登录后再点赞。")
            }

        })

        $(document).on('mouseover', 'div[data-comment-id]', function (){
            let comment_id = $(this).data('comment-id')
            let heartIcon = $(this).find('i');
            let like_num = $(this).find('p');
            heartIcon.addClass('like-clicked');
            like_num.addClass('like_num_clicked');
        })

        $(document).on('mouseout', 'div[data-comment-id]', function (){
            let comment_id = $(this).data('comment-id')
            let heartIcon = $(this).find('i');
            let like_num = $(this).find('p');
            if (!heartIcon.hasClass('bi-heart-fill')){
                heartIcon.removeClass('like-clicked');
                like_num.removeClass('like_num_clicked');
            }
        })

        function renderNoneComment() {
            return '<img src="../static/images/topics/undraw_happy_music_g6wc.png" class="custom-block-image img-fluid" style="margin-left: auto;margin-right: auto; width: 50%; height: auto; margin-top: 0">'+
                    '<div class="d-flex">'+
                            '<p class="mb-0" style="margin-left: auto;margin-right: auto;">有什么想说的？你来第一个点评！</p>'+
                    '</div>';
        }

        // 渲染星星的 HTML 代码
        function renderStarsHtml(starId) {
            var starsHtml = '';
            for (var i = 1; i <= 5; i++) {
                var starClass = (i <= starId) ? 'bi-star-fill star-clicked' : 'bi-star';
                starsHtml += '<i class="' + starClass + '" id="star-' + i + '"></i>';
            }
            return starsHtml;
        }
        // starContainer.on('mouseleave', function () {
        //     stars.removeClass('bi-star-fill').addClass('bi-star');

        document.getElementById('return-btn').addEventListener('click', function() {
            window.history.back();
        });

    });
</script>
{% endblock %}