{% extends "base.html" %}
{% block title %}JustVs{% endblock %}
{% block head %}
<!-- TODO:引入需要引入的头文件等 -->
{% endblock %}
{% block body %}
<!-- TODO:写入主体页面内容 -->
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Topics Listing</li>
                    </ol>
                </nav>

                <h2 class="text-white">Topics Listing</h2>
            </div>

        </div>
    </div>
</header>


<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <!-- <h3 class="mb-4">{{result.seedword.word}}竞品关键词</h3> -->
                <h3 class="mb-4">种子关键词</h3>
            </div>

            <div class="col-lg-8 col-12 mt-3 mx-auto">
                <!-- 这里第一个渲染种子关键词的内容 -->
                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                    <div class="d-flex">
                        <!-- TODO：需要添加href属性哦 -->
                        <!-- 所以点击图片还跳吧应该 -->
                        <a href="">
                            <img src="{{ result.seedword.image }}"
                                class="custom-block-image img-fluid" alt="">
                        </a>
                        <div class="custom-block-topics-listing-info d-flex">
                            <div>
                                <h5 class="mb-2">{{ result.seedword.word }}</h5>
                                <!-- 填入描述性文字 -->
                                <p class="mb-0">Topic Listing includes home, listing, detail and contact pages. Feel
                                    free to modify this template for your custom websites.</p>


                                <a href="topics-detail.html" class="btn custom-btn mt-3 mt-lg-4">Learn More</a>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-12 text-center">
                    <!-- <h3 class="mb-4">{{result.seedword.word}}竞品关键词</h3> -->
                    <h3 class="mb-4">竞品关键词</h3>
                </div>

                <!-- 这里之后用jinja2的for循环来渲染各个竞争性关键词 -->
                {% for compWord in result %}
                    {% if result[compWord].word != result.seedword.word %}                    
                        <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                            <div class="d-flex">
                                <!-- img的src属性修改 -->
                                <!-- 跳转进去到评论详情页面 -->
                                <a href="">
                                    <img src="{{ result[compWord].image }}"
                                        class="custom-block-image img-fluid" alt="">
                                </a>

                                <div class="custom-block-topics-listing-info d-flex">
                                    <div>
                                        <!-- 每个keyword的name -->
                                        <h5 class="mb-2">{{ result[compWord].word }}</h5>
                                        <!-- 每个keyword的描述 -->
                                        <p class="mb-0">Visit TemplateMo website to download free CSS templates. Lorem ipsum
                                            dolor, sit amet consectetur adipisicing elit animi necessitatibus</p>

                                        <div class="score-bar">
                                            <h3 class="score-num mb-0">5.0</h3>
                                            <p class="score-people mb-1">1人评分</p>
                                        </div>
                                        <div class="comment-bar">
                                            <p style="font-size: 14px;padding: 2px;color: rgb(252,141,105);">"手机界的goat"</p>
                                        </div>
                                        <!-- 这个href的属性也需要进行修改，跳进竞品报告表 -->
                                        <a href="topics-detail.html" class="btn custom-btn">Learn More</a>
                                    </div>
                                    <!-- 这个写comp度 -->
                                    <span class="badge bg-advertising rounded-pill ms-auto" style="height: 30px;width: 38px;">{{result[compWord].comp|round(4)}}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                
            </div>

        </div>
    </div>
</section>


<section class="section-padding section-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h3 class="mb-4">Trending Topics</h3>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Investment</h5>

                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">30</span>
                        </div>

                        <img src="../static/images/topics/undraw_Finance_re_gnv2.png"
                            class="custom-block-image img-fluid" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12 mt-lg-3">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <img src="../static/images/businesswoman-using-tablet-analysis.jpg"
                            class="custom-block-image img-fluid" alt="">

                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h5 class="text-white mb-2">Finance</h5>

                                <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
                                    animi necessitatibus aperiam repudiandae nam omnis</p>

                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>

                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>

                        <div class="social-share d-flex">
                            <p class="text-white me-4">Share:</p>

                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>

                            <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                        </div>

                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<!-- TODO:载入或写入js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/custom.js"></script>
{% endblock %}